# https://editorconfig.org
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Use 2-space indentation for configuration, documentation, and metadata files
[*.{yml,yaml,md,toml,json,cmake}]
indent_size = 2

[CMakeLists.txt]
indent_size = 2

# Force tab indentation for Makefiles
[Makefile]
indent_style = tab